@charset "UTF-8";

.btn-round {
  border-radius: 30px !important;
  margin: 0 !important;
}

.btn-iniciarSesion {
  height: 42px !important;
}

.btn-registrarse {
  height: 42px !important;
}

.btn-registrarse a {
  border-radius: 20px !important;
  padding: 0.5em 1em !important;
  text-align: center;
  color: #36c !important;
  border: 1px solid #fff !important;
  background-color: #fff !important;
  font-size: 1rem !important;
  font-family: Work Sans  !important;
  font-weight: 400 !important;
  transition: background-color .4s ease-in !important;
  -moz-transition: background-color .4s ease-in !important;
  -webkit-transition: background-color .4s ease-in !important;
}

.btn-registrarse a:hover {
  background-color: #004884 !important;
  color: #fff !important;
  transition: background-color .4s ease-out !important;
  -moz-transition: background-color .4s ease-out !important;
  -webkit-transition: background-color .4s ease-out !important;
}

.btn-iniciarSesion a {
  border-radius: 20px !important;
  padding: 0.5em 1em !important;
  text-align: center;
  color: #fff !important;
  border: 1px solid #fff !important;
  background-color: #36c !important;
  font-size: 1rem !important;
  font-family: Work Sans  !important;
  font-weight: 400 !important;
  transition: background-color .4s ease-in !important;
  -moz-transition: background-color .4s ease-in !important;
  -webkit-transition: background-color .4s
}

.btn-iniciarSesion a:hover {
  background-color: #fff !important;
  color: #36c !important;
  transition: background-color .4s ease-out !important;
  -moz-transition: background-color .4s ease-out !important;
  -webkit-transition: background-color .4s ease-out !important;
}

.btn-news {
  border-radius: 21px !important;
  padding: .5em 2em !important;
  color: #fff !important;
  border: 2px solid #36c;
  background-color: #36c !important;
  font-size: 1rem !important;
  font-family: Work Sans  !important;
  font-weight: 400 !important;
  transition: background-color .2s ease-in !important;
  -moz-transition: background-color .2s ease-in !important;
  -webkit-transition: background-color .2s ease-in !important
}

.btn-news:hover {
  background-color: #004884 !important;
  border: 2px solid #004884;
  color: #fff !important;
  transition: background-color .2s ease-out !important;
  -moz-transition: background-color .2s ease-out !important;
  -webkit-transition: background-color .2s ease-out !important
}

.section-down {
  margin-top: 40px
}

.btn-see-more-news {
  height: 42px !important;
  width: 225px !important
}

.btn-see-more-news .link-see-more {
  border-radius: 21px !important;
  padding: .5em 2em !important;
  color: #36c !important;
  border: 2px solid #36c;
  background-color: #fff !important;
  font-size: 1rem !important;
  font-family: Work Sans  !important;
  font-weight: 400 !important;
  transition: background-color .2s ease-in !important;
  -moz-transition: background-color .2s ease-in !important;
  -webkit-transition: background-color .2s ease-in !important
}

.btn-see-more-news .link-see-more:hover {
  background-color: #004884 !important;
  border: 2px solid #004884;
  color: #fff !important;
  transition: background-color .2s ease-out !important;
  -moz-transition: background-color .2s ease-out !important;
  -webkit-transition: background-color .2s ease-out !important
}


.btn-aux {
  display: flex;
  align-items: left;

  a {
      border-radius: 30px;
      padding: .7em 2em;
      color: #fff !important;
      border: 2px solid #ffffff;
      background-color: rgba(255, 255, 255, 0);
      font-size: 1rem !important;
      font-family: Work Sans ;
      font-weight: 500;
      transition: background-color .4s ease-in;
      -moz-transition: background-color .4s ease-in;
      -webkit-transition: background-color .4s ease-in
  }

  a:hover {
      background-color: #fff;
      border: 2px solid #004884;
      color: #004884 !important;
      transition: background-color .4s ease-out;
      -moz-transition: background-color .4s ease-out;
      -webkit-transition: background-color .4s ease-out
  }
}