<header>
    <div class="container pl-0 pr-0">
        <nav class="py-0 navbar navbar-expand-lg fixed-to navbar-expanded" id="andPrueba-header">
            <div class="container px-0 justify-content-center">
                <div class="row col-12  col-sm-12 col-md-12 px-0 justify-content-between">
                    <div class="row col-8 col-sm-12 col-md-8">
                        <div class="col-lg-3 col-xl-2 px-0 position-logo">
                            <a role="link" aria-label="Logo Gobierno de Colombia. Te llevará al inicio"
                                class="navbar-brand" href="https://www.gov.co/"><img
                                    src="./assets/images/iconos/Govco.svg" height="30" width="140"></a>
                        </div>
                    </div>
                    <div class="d-flex col-4 col-sm-12 col-md-4 justify-content-end" id="header-botones">
                        <div class="header-row">
                            <div class="mt-2 btn-iniciarSesion ml-3"><a href="https://www.gov.co/login"
                                    class="btn btn-round" aria-label="Inicia sesión en GOV.CO" role="button">Inicia
                                    sesión</a></div>
                            <div class="mt-2 btn-registrarse ml-3"><a href="https://www.gov.co/registro"
                                    class="btn btn-round" aria-label="Regístrate en GOV.CO" role="button">Regístrate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>