header {
  background-color: #3366CC !important;
  padding-top: 0rem;
  font-family: "Montserrat", "Work Sans";
  border-bottom: 9px solid #3366CC;
  font-style: normal;
  width: 100%;
  height: auto;

  .position-logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-row {
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  @media only screen and (min-width: 0px) and (max-width: 864px) {
    #header-botones {
      justify-content: center !important;
    }

    .position-logo {
      display: flex;
      margin-left: 45px;
      justify-content: center;
    }

    .btn-iniciarSesion a {
      font-size: 0.87rem !important;
    }
  }

  @media only screen and (min-width: 568px) and (max-width: 768px) {
    .btn-iniciarSesion a {
      font-size: 1rem !important;
    }
  }

}