.headboard {
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 1.5rem;
}

.title {
    text-align: left;
    font: normal normal 600 24px/36px Montserrat;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.sub-title {
    text-align: left;
    font: normal normal normal 20px/36px Montserrat;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.emergency-contact-item {
    display: flex;
    float: left;
    width: 100%;
    padding: 0;
    align-items: right;
    text-align: left;
    font: normal normal normal 18px/31px Work Sans;
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;
}

.icono-estilo {
    font: normal normal 600 18px/31px Montserrat;
    letter-spacing: 0px;
    color: #024884;
    opacity: 1;
    display: flex;
    margin-right: 1em;
    justify-content: space-between;
    min-width: 4.5rem;
    align-items: center;
}

.prueba-and-icon-trazado::before {
    content: url('/assets/images/iconos/Trazado 3682.svg');
}

@media screen and (max-width: 1024px) {
    .emergency-contact-container ul {
        padding: unset !important
    }

    .emergency-contact-container ul li {
        width: 100%;
        padding: unset !important
    }
}

@media screen and (min-width: 992px) {
    ul {
        column-count: 2 !important
    }
}