<div class="card border-0">
  <div class="card-body container-lg">
    <div class="headboard">
      <div>
        <b>
          <h2 tabindex="0" aria-label="A continuación encontrará la sección de Contactos de emergencia" class="title">
            Contactos de
            emergencia</h2>
        </b>
        <p tabindex="0" class="sub-title">Llama a las líneas de atención correspondientes a tu
          necesidad.</p>
      </div>
    </div>
    <div>
      <ul>
        <li tabindex="0" class="emergency-contact-item"><span class="icono-estilo prueba-and-icon-trazado">123</span>
          Línea Única de Atención
          de Emergencias </li>
        <li tabindex="0" class="emergency-contact-item"><span class="icono-estilo prueba-and-icon-trazado">132</span>
          Línea Cruz Roja </li>
        <li tabindex="0" class="emergency-contact-item"><span class="icono-estilo prueba-and-icon-trazado">167</span>
          Línea Antinarcóticos
        </li>
        <li tabindex="0" class="emergency-contact-item"><span class="icono-estilo prueba-and-icon-trazado">144</span>
          Línea Defensa Civil
        </li>
        <li tabindex="0" class="emergency-contact-item"><span class="icono-estilo prueba-and-icon-trazado">165</span>
          Línea Antisecuestro y
          Antiextorsión </li>
        <li tabindex="0" class="emergency-contact-item"><span class="icono-estilo prueba-and-icon-trazado">#767</span>
          Línea Seguridad Vial
        </li>
        <li tabindex="0" class="emergency-contact-item"><span class="icono-estilo prueba-and-icon-trazado">155</span>
          Línea Atención a Mujeres
        </li>
        <li tabindex="0" class="emergency-contact-item"><span class="icono-estilo prueba-and-icon-trazado">166</span>
          Línea Transparencia
          Institucional </li>
      </ul>
    </div>
  </div>
</div>