.fijados {
    position: fixed;
    right: 0;
    top: 30vh;
    margin-top: -2.5em;
    z-index: 99999;
  }
  
  .botonAcces {
    padding: 8px;
    display: block;
    background: #ffffff;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  