<div class="fijados">
    <button (click)="cambiarContraste()" class="botonAcces">
      <img alt="cambiar contraste" height="20px" src="./assets/images/accessibility/contraste.svg">
    </button>
    <button (click)="aumentarFuente()" class="botonAcces">
      <img alt="aumentar fuente" height="20px" src="./assets/images/accessibility/aumentarFuente.svg">
    </button>
    <button (click)="reducirFuente()" class="botonAcces">
      <img alt="reducir fuente" height="20px" src="./assets/images/accessibility/reducirFuente.svg">
    </button>
  </div>
  