<footer class="pb-5 pt-5">
    <div class="container footer-row">
        <div class="col-sm-12 col-lg-2 panel-inicial">
            <div id="panel-uno" class="texto-footer">
                <p style="text-align: center;"><a href="https://www.gov.co" target="_blank" class="transition-none"><img
                            src="./assets/images/iconos/Govco.svg" style="height: 25px;" alt="Icono govco"
                            title="Icono govco"></a></p>
                <p style="text-align: center;"><br></p>
                <p style="text-align: center;"><br></p>
                <p style="text-align: center;"><a href="https://www.colombia.co/" target="_blank"
                        style="font-weight: 400; background-color: rgb(255, 255, 255);" class="transition-none"><img
                            src="./assets/images/iconos/marca pais.svg" style="height: 50px;" alt="Marca país"
                            title="Marca país"></a><br></p>
                <p></p>
            </div>
        </div>
        <div id="panel-dos" class="col-sm-12 col-lg-4 panel-columna">
            <div class="flex-column texto-footer">
                <h5>Portal Único del Estado Colombiano</h5>
                <p><b> Dirección: </b></p>
                <p>Edificio Murillo Toro Cra. 8 entre calles 12A y 12B.</p>
                <p>Bogotá, Colombia.</p>
                <p><br></p>
                <p><b>Horarios de Atención:</b></p>
                <ul>
                    <li> Atención Presencial: Martes, Miércoles y Viernes de 9:00 am a 3:00 pm jornada
                        continua.
                    </li>
                    <li> Atención Canales Virtuales: Lunes a Viernes de 8:30 am a 4:30 pm.</li>
                </ul>
                <p><b> Código Postal: </b></p>
                <p>111711</p>
            </div>
        </div>
        <div id="panel-tres" class="col-sm-12 col-lg-3 panel-columna">
            <div class="flex-column texto-footer">
                <h6><img src="./assets/images/iconos/telefono.svg" style="width: 15px;" alt="Icono ayuda teléfono "
                        title="Icono ayuda teléfono "><b>&nbsp;&nbsp;</b>Contacto</h6>
                <p><b>Teléfono</b>:<br></p>
                <ul>
                    <li> Nacional: 01 8000 95 2525</li>
                    <li> Bogotá: +(57) 601 390 7950</li>
                    <li> Línea Anticorrupción: 01 8000 91 2667</li>
                </ul>
                <p><b> Correo Institucional:</b></p>
                <p> <a href="mailto:soporteccc@mintic.gov.co" aria-label="Permite enviar correo"
                        target="_blank">soporteccc@mintic.gov.co</a></p>
                <p><br></p>
                <p> <a href="#" aria-label="Solicitar Una llamada" target="_blank">Solicita una llamada</a>
                </p>
                <p> <a href="#" aria-label="Llamada web" target="_blank">Llamada web</a></p>
                <p> <a href="#" aria-label="Hablemos en línea" target="_blank">Hablemos en línea</a></p>
            </div><span class="linea"></span>
        </div>
        <div id="panel-cuatro" class="col-sm-12 col-lg-3 panel-columna">
            <div class="flex-column texto-footer">
                <h6><img src="./assets/images/iconos/info contorno.svg" style="width: 18px;" alt="Acerca del sitio"
                        title="Acerca del sitio">&nbsp; Acerca del sitio</h6>
                <p><a href="https://www.gov.co/mapa-del-sitio" aria-label="Mapa del sito">Mapa del sitio</a>
                </p>
                <p> <a href="https://www.gov.co/terminos-y-condiciones?seccion=avisoPrivacidad"
                        target="_blank">Políticas de privacidad</a> </p>
                <p> <a href="https://www.gov.co/terminos-y-condiciones?seccion=derechosPropiedadIntelectual"
                        target="_blank">Políticas de derechos de autor</a> </p>
                <p> <a href="https://www.gov.co/terminos-y-condiciones" target="_blank">Términos y
                        condiciones</a>
                </p>
                <p><br></p>
                <h6><span style="font-weight: normal;"><img src="./assets/images/iconos/persona.svg" height="18"
                            alt="Ayudas de accesibilidad" title="Ayudas de accesibilidad"></span>Ayudas de accesibilidad
                </h6>
                <p><br></p>
                <p><a href="https://www.centroderelevo.gov.co/632/w3-channel.html" target="_blank">Centro de
                        relevo</a></p>
                <p><br></p>
                <p><img src="./assets/images/iconos/twitter.svg" style="width: 24px;" alt="Síguenos en Twitter"
                        title="Síguenos en Twitter">&nbsp;&nbsp;
                    <a href="https://twitter.com/GobDigitalCO" target="_blank">Síguenos en Twitter</a>
                </p>
                <p><img src="./assets/images/iconos/facebook.svg" style="width: 24px;" alt="Síguenos en Facebook"
                        title="Síguenos en Facebook">&nbsp;&nbsp;
                    <a href="https://www.facebook.com/GobDigitalCO/" target="_blank">Síguenos en Facebook</a>
                </p>
            </div>
        </div>
    </div>
</footer>