footer {
    background-color: #3366CC !important;
    bottom: 0;
    width: 100%;
    height: auto;
    border-bottom: 9px solid #3366CC;
    padding-bottom: 70px;
    padding-top: 77px;
    margin-top: 1.8%;

    .footer-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .panel-inicial {
        padding-left: 0;
        padding-right: 30px;
    }

    .texto-footer {
        font: normal normal 400 14px/22px Work Sans;
        color: #fff !important;

        word-wrap: break-word;

        h5 {
            text-align: left;
            font: normal normal 600 24px/24px Montserrat !important;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-transform: capitalize;
            opacity: 1;
            font-weight: bold;
        }

        h6 {
            text-align: left;
            font: normal normal 600 14px/22px Work Sans;
            letter-spacing: 0px;
            color: #FFFFFF;
        }

        p {
            margin-bottom: 0 !important;
            text-align: left;
            font: normal normal normal 14px/22px Work Sans !important;
            letter-spacing: 0px;
            color: #FFFFFF;
            letter-spacing: -0.05rem;

        }

        a {
            text-align: left;
            text-decoration: underline;
            font: normal normal medium 14px/22px Work Sans;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
        }

        ul {
            padding-left: 1rem;
        }

        li {
            text-align: left;
            font: normal normal normal 14px/22px Work Sans;
            letter-spacing: -0.07rem;
            color: #FFFFFF;
        }
    }

    .panel-columna {
        border-left: 1px solid #fff;
        border-top: 0px solid #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    @media only screen and (min-width: 320px) and (max-width: 992px) {
        .panel-columna {
            border-top: 1px solid #fff;
            border-left: 0px solid #fff;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}