<div class="container border-0 pt-2 pb-4">
  <div class="card-body container-lg">
    <div class="current-title" tabindex="0"
      attr.aria-label="A continuación encontrará la sección de {{seccionActualidad.titulo}}">
      <b>
        <h2 class="titulo">{{seccionActualidad.titulo}}</h2>
      </b>
      <p tabindex="0" attr.aria-label="{{seccionActualidad.descripcion}}">{{seccionActualidad.descripcion}}</p>
    </div>
    <br>
    <div class="cards-container">
      <div class="row">
        <div *ngFor="let categoria of listCategoria" class="col-lg-4 link-container">
          <a class="current-link" href="javascript:void(0);" tabindex="0" role="link"
            attr.aria-label="{{categoria.textoAlternativo}}" title="{{categoria.titulo}}">
            <div class="news-container">
              <div class="image-container"><img class="img" src="{{categoria.imagen}}" alt="Imagen decorativa"></div>
              <div class="info-container">
                <div class="date-text my-2">{{categoria.textoFecha}}</div>
                <div class="news-title">{{categoria.sumario}}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row d-flex section-down current-title justify-content-center"><span></span>
      <div class="col-12 col-sm-12 col-md-4 mt-2 mb-3 btn-see-more-news text-center"><a
          href="https://www.gov.co/noticias/" class="btn btn-round link-see-more" role="button"
          attr.aria-label="{{seccionActualidad.botonTexto}}">{{seccionActualidad.botonTexto}}</a></div>
    </div>
  </div>
</div>