.cards-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: center;
    justify-content: center
}

.current-title .titulo {
    text-align: left;
    font: normal normal 600 24px/36px Montserrat;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.current-title p {
    text-align: left;
    font: normal normal normal 16px/24px Work Sans;
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;
}

.news-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: start;
    justify-content: start
}

.link-container .current-link {
    text-decoration: none;
    display: block
}

.image-container {
    border-radius: 5px
}

.image-container img {
    border-radius: 5px;
    width: 100%;
    height: 230px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center
}

.info-container .date-text {
    text-align: left;
    font: normal normal normal 14px/21px Work Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.info-container .news-title {
    text-align: left;
    text-decoration: underline;
    font: normal normal 600 18px/27px Montserrat;
    letter-spacing: 0px;
    color: #004884;
}

@media screen and (max-width:992px) {
    .current-title .titulo {
        font-family: Montserrat  !important;
        color: #004884 !important;
        font-size: 1.5rem !important;
        font-weight: 600 !important
    }

    .link-container {
        margin-bottom: 30px
    }

    .section-down {
        margin-top: 10px
    }

    .btn-see-more-news {
        margin-top: 0 !important;
        -ms-flex-item-align: center !important;
        align-self: center !important;
        height: 48px !important;
        width: 100% !important
    }

    .btn-news,
    .btn-see-more-news .link-see-more {
        width: 100%
    }
}