<div id="banner-home" tabindex="0" attr.aria-label="{{this.textoDescriptivo}}"
  style="background-image: url(&quot;{{this.urlImagen}}&quot;);">
  <div class="background-overlay">
    <div class="container">
      <div class="row w-100 m-0 no-gutters pb-4">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="text-left">
            <h1 tabindex="0" class="title-banner text-lg-left">{{seccionBannerPrincipal.textoBienvenida}}
            </h1>
          </div>
          <div class="text-left">
            <p tabindex="0" class="description-banner ml-5"
              attr.aria-label="{{seccionBannerPrincipal.textoBuscador}}">
              {{seccionBannerPrincipal.textoBuscador}}</p>
          </div>
          <div class="text-left mt-5">
            <p tabindex="0" class="description-banner-aux ml-5 px-0"
              attr.aria-label="{{seccionBannerPrincipal.textoAuxiliar}}">
              <span>{{seccionBannerPrincipal.textoAuxiliar}}</span>
            </p>
          </div>
          <div class="btn-aux pb-3 ng-star-inserted"><a role="button" class="btn btn-round"
              href="{{seccionBannerPrincipal.urlBotonAuxiliar}}"
              target="">{{seccionBannerPrincipal.textoBotonAuxiliar}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>