.background-overlay {
    background: linear-gradient(180deg, rgba(27, 74, 167, .9) 0%, rgba(17, 54, 128, .9) 80%);
    background: -moz-linear-gradient(180deg, rgba(27, 74, 167, .9) 0%, rgba(17, 54, 128, .9) 80%)
}

.title-banner {
    text-align: left;
    font: normal normal 600 40px/48px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 0 !important;
    margin-top: 3.75rem;
    margin-bottom: 0;
    opacity: 1
}

.description-banner {
    text-align: left;
    font: normal normal 600 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;    margin: 0 !important;
    padding: 0 0 1rem !important;
}

.description-banner-aux {
    margin: 2rem 0 0 !important;
    padding: 0 0 .5rem !important;
    text-align: left;
    font: normal normal normal 16px/18px Work Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    white-space: pre-wrap;

    span {
        color: #fff
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .title-banner {
        font-size: 1.5rem !important;
        line-height: 2.25rem !important;
        letter-spacing: 0rem !important;
        margin-top: 3.75rem !important
    }

    .description-banner {
        font-size: .875rem !important
    }

    .description-banner-aux {
        font-size: .875rem !important;
        margin: 0 !important
    }

    .btn-aux a {
        width: 100%
    }
}