/* You can add global styles to this file, and also import other style files */

//style
@import "assets/scss/_buttons.scss";
@import "assets/scss/_fonts.scss";

html,
body {
    height: auto !important;
}

body {
    margin: 0 !important;
    font-family: Montserrat, Work Sans !important;
    font-style: normal !important;
    font-size: 14px !important;
    color: #484848 !important;
}

.altoContraste {
    -webkit-filter: invert(1);
    filter: invert(1);
    background-color: #fff;
}

@-moz-document url-prefix() {
    .altoContraste {
        mix-blend-mode: difference;
        background-color: #fff;
        filter: none;
    }
}

.textura {
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}