<andPrueba-header></andPrueba-header>
<banner-informativo-component></banner-informativo-component>
<andPrueba-bannerPrincipal></andPrueba-bannerPrincipal>
<section class="container">
    <andPrueba-content></andPrueba-content>
</section>
<andPrueba-footer></andPrueba-footer>
<andPrueba-accessibility></andPrueba-accessibility>